QPushButton {
    background-color: #202020;
    color: #9FD7ED;
    border: 1px solid #3A3A3A;
    border-radius: 0px;
    padding: 4px 6px;
    font-size: 14px;
}

QPushButton:hover {
    background-color: #2A2A2A;
    border-color: #59C4ED;
    color: #CFEFFF;
}

QPushButton:pressed {
    background-color: #1A1A1A;
    border-color: #2A8DB3;
    color: #9FD7ED;
}