QWidget {
    background: #1C1C1C;
}

QWidget#ConsoleOverlay {
    background: rgba(30, 30, 30, 220);
    border: 1px solid #0C0C0C;
}

QWidget#ConsoleOverlay QPlainTextEdit {
    border: none;
    background: transparent;
}
